@font-face {
    font-family: myFont2;
    src: url('../Fonts/Montserrat-VariableFont_wght.ttf');
}
*{    font-family: myFont2;
}
body {
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('../Images/Browse_Desk.png') no-repeat center center fixed
}

.book-list-container {
    width: 80%;
    margin: auto;
    padding: 20px;
    background-color: hsla(22, 62%, 41%, 0.527);;
}
h1{

    color: #face8c;
}

.page-title {
    text-align: center;
    margin-bottom: 30px;
}

.home-button-container {
    text-align: left;
    margin-top: 10px;
}

.home-button {
    display: inline-block;
    padding: 10px 15px;
    background-color: #411a00;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    font-size: 16px;
}

.home-button:hover {
    background-color: #632700;
}

.search-form {
    text-align: center;
    margin-bottom: 20px;
}

h2{
    text-align: center;
    margin-bottom: 20px;
    color: #ffffff;
    
}
.status{
    text-align: center;
    margin-bottom: 20px;
    color: #0b8800;
    
}

.add-book-form{
    padding: 10px;
    margin-right: 5px;
    margin: 8px 8px;
    width: 97%;
    border: 2px solid #411a00;
    border-radius: 4px;
    background-color: #b35c22;
    box-shadow: 5px 2px 15px rgb(12, 12, 12);

    


}
.add-book-form input[type="text"],
.add-book-form input[type="number"],
.add-book-form input[type="file"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
    box-sizing: border-box;
    border: 2px solid #411a00;
    background-color: #ee7c31;
    
}
.add-book-form input[type="submit"]{

    display: flex;
    color: #632700;
    margin: 8px 8px;
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #632700;
    color: white;
    cursor: pointer;
    border-radius: 4px;
}
.add-book-form input[type="submit"]:hover{
    background-color:#813400 ;
}


.search-form input[type="text"] {
    padding: 10px;
    margin-right: 5px;
    width: 300px;
    border: 2px solid #411a00;
    border-radius: 4px;
    background-color: #ee7c31;
}

.search-form button {
    padding: 10px 15px;
    border: none;
    background-color: #411a00;
    color: rgb(255, 255, 255);
    border-radius: 4px;
    cursor: pointer;
}

.search-form button:hover {
    background-color: #632700;
}

.book-item {
    border: 1px solid #411a00;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 4px;
    background-color: #b35c22;
    position: relative;
    box-shadow: 5px 2px 15px rgb(12, 12, 12);
    display: flex;
}
.book-image-container {
    width: 75px; /* Adjust as needed */
    height: 100px; /* Adjust as needed */
    overflow: hidden;
    margin-right: 15px;
}
.book-image {
    width: 100%;
    height: auto;
}
.book-info {
    flex-grow: 1;
    position: relative;
}

.borrow-button,.delete-book{
    display: block;
    width: 100px;
    padding: 10px;
    background-color: #411a00;
    text-align: center;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    position: absolute;
    right: 15px;
    bottom: 15px;
    cursor: pointer;

}

.borrow-button:hover, .delete-book:hover {
    background-color: #632700;
}

.pagination {
    text-align: center;
    padding: 20px 0;
}

.pagination a {
    margin: 0 5px;
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    background-color: #ee7c31;
    color: #333;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.pagination a.active {
    background-color: #00bcd4;
    color: white;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}
.countdown-timer {
    padding: 10px;
    margin-top: 10px;
    border-radius: 4px;
    color: white;
    text-align: center;
    width: 100px; /* Adjust width as needed */
}


@media (max-width: 768px) {
    .book-list-container {
        width: 95%;
    }
}

