@font-face {
    font-family: myFont2;
    src: url('../Fonts/Montserrat-VariableFont_wght.ttf');
}





body {
    font-family: myFont2;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('../Images/Login_reg_Desk.png') no-repeat center center fixed;
}

.registration-container {
    width: 100%;
    max-width: 400px;
    margin: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
}

.registration-form {
    padding: 20px;
}

.form-header {
    text-align: center;
    margin-bottom: 20px;
    position: relative;
}

.close-button {
    position: absolute;
    right: 10px;
    top: 5px;
    cursor: pointer;
    font-size: 24px;
}
.close-button a {
    color: #000; /* Or whatever color your close button should be */
    text-decoration: none;
}

.close-button a:hover {
    color: #333; /* Slightly different color on hover */
}


.form-group label {
    display: block;
    color: #333;
    margin-bottom: 5px;
    margin-left: 5px;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="tel"],
.form-group input[type="password"] {
    width: calc(100% - 10px);
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-bottom: 2px solid #995700;
    font-size: 16px;
}



.form-footer input[type="checkbox"] {
    margin-right: 10px;
}

.form-action input[type="submit"] {
    width: 100%;
    padding: 15px;
    border: none;
    background-color: #995700;
    color: white;
    font-size: 16px;
    margin-bottom: 10px;
    cursor: pointer;
}

.form-action input[type="submit"]:hover {
    background-color: #693c00;
}

.form-action p {
    text-align: center;
    font-size: 14px;
}

.form-action a {
    color: #000000;
    text-decoration: none;
}

.form-action a:hover {
    text-decoration: underline;
}

/* Add media queries as needed for responsiveness */


/* Media query for tablets */
@media (max-width: 768px) {
body {
background: url('../Images/Login_reg_Tab.png') no-repeat center center fixed;
background-size: cover;

}

/* Additional tablet-specific styles here */
}

/* Media query for mobile devices */
@media (max-width: 480px) {
body {
background: url('../Images/Login_reg_Mob.png') no-repeat center center fixed;
background-size: cover;

}

/* Additional mobile-specific styles here */
}