
@font-face {
    font-family: myFont2;
    src: url('../Fonts/Montserrat-VariableFont_wght.ttf');
}


body {
    margin: 0;
    font-family: myFont2;
    background: #f4f4f4;
    color: #333;
}

h1{
font-size: 50px;


}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

main {
    padding-top: 100px;
    text-align: center;
    background-image:linear-gradient(rgba(0,0,0,0.30),rgba(0,0,0,0.30)), url('../Images/Browse_Desk.png');
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background: linear-gradient(45deg, #8d733b, #7a1626);
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0 25px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    position: relative;
    transition: color 0.3s ease;
    font-size: 25px;
    text-transform: uppercase;
    
}

.nav-links a::before {
    content: '';
    position: absolute;
    width: 0;
    bottom: 0;
    height: 2px;
    left: 50%;
    background-color: #b86b12;
    transition: width 0.3s ease, left 0.3s ease;
}

.nav-links a:hover {
    color: #b86b12;
}

.nav-links a:hover::before {
    width: 100%;
    left: 0;
    
}

.logo img {
    max-height: 100px;
    width: auto;
}

.hamburger {
    display: none;
    font-size: 24px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

.featured {
    background-size: cover;
    color: white;
    padding: 60px 20px;
    text-align: center;
}
.featured p {
    font-size: 20px;
    color: rgb(255, 255, 255);
    display: inline-block;
    border-right: 4px solid white; /* Adjust the color as needed */
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation: 
        typing 3s steps(30) forwards, /* Updated */
        cursor 0.4s step-end infinite alternate,
        fadeInOut 6s ease 3s forwards; /* New animation for fading */
}

@keyframes cursor {
    50% { border-color: transparent; }
}

@keyframes typing {
    from { width: 0; }
}

@keyframes fadeInOut {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}


/* Responsive styles */
@media screen and (max-width: 768px) {
    .hamburger {
        display: block;
    }

    .nav-links {
        flex-direction: column;
        align-items: flex-start;
        background: linear-gradient(45deg, #8d733b, #7a1626);
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        display: none;
    }

    .nav-links li {
        margin: 10px;
        padding: 10px;
        width: 100%;
        text-align: left;
    }

    .nav-links a {
        color: white;
        width: 100%;
    }

    .nav-links.active {
        display: flex;
    }
    main{
        background-image:linear-gradient(rgba(0,0,0,0.30),rgba(0,0,0,0.30)), url('../Images/Browse_Tablet.png');


    }
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer a {
    color: #FFC107;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
